body{
    background-color:#ad336d;

}
    

header, section {
    padding: 20px;
    border-bottom: 5px solid #13fdb3;
    background-color: rgb(21, 215, 150);
}

.side-bar{
    float:left;
    width: 25%;

}

header img {
    width: 60%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.flex-container img {
    max-width: 60%;
    height: auto;
}

.subject, .place {
    flex: 1 1 30%;
    text-align: center;
}

@media (max-width: 800px) {
    .flex-container {
        flex-direction: row;
        align-items: center;
    }
}
