body {
    background-color: #ad336d;
}

header, section {
    padding: 20px;
    border-bottom: 5px solid #3e3b92;
}

header img {
    width: 60%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.grid img {
    max-width: 60%;
    height: auto;
}

.subject, .place {
    flex: 1 1 30%;
    text-align: center;
}

@media (max-width:100x) {
    .grid {
        grid-template-columns: 1fr;
    }
}
